.about{
    background-color: #13181b;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 200px;


    &-us{
        color: #ff6c2c;
        letter-spacing: 7px;
        font-size: 10px;
    }
    .heading{
        margin-top: -15px;
        margin-bottom: 50px;
    }
    .paragraph-1{
        color: #ff6c2c;
    }
    .paragraph-2{
        color: #9d9f9e;
    }
    .composition{
        width: 45%;
        height: 250px;

        &:hover{
            background-color: #000;
            opacity: .9;
        }

        &--1{
            position: absolute;
            top: 35px;
            left: 20px;
        }
        &--2{
            position: absolute;
            top: -95px;
            right:0;
        }
        &--3{
            position: absolute;
            top: 180px;
            right:0;
        }
        &-image{
            width: 100%;
            height: 100%;
        }
    }

}