.footer-section{
    background-color: #222224;

    .logo{
        margin-top: -10px;
        &-word-1{
            font-size: 25px;
            margin-left: 70px;
            margin-right: -2px;
            font-weight: bolder;
            color: #fff;
        }
        &-word-2{
            font-size: 25px;
            font-weight: bolder;
            color: #d02468;
        }
        &-bottom-text{
            margin-top: 20px;
            margin-left: 70px;
            color: #7b7b7d;
        }
    }
    .footer-heading{
        color: #cf246a;
        padding-left: 10px;
        border-left: 4px solid #cf246a;
    }
    .footer-text{
        color: #7b7b7d;
    }
}