.news{
    background-color: #191a1f;
    padding: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 200px;

    h3{
        padding-bottom: 50px;
    }

    h5{
        color: #5fb6e1;
    }

    p{
        text-align: justify;
    }
    .card{
        width: 90%;
        background-color: #191a1f;
        border: none;

        .image-box{
            height: 200px;
            width: 100%;

            &__image{
                width: 100%;
                height: 100%;
            }
        }
    }
    .btn{
        background-color: #5fb6e1;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 40px;
    }
}